<div class='email-block'>
  <div class='logo'>
    <%= image_tag 'logo-black.png' %>
  </div>
  <h1 class='header-text'>Vendor Application</h1>
  <div class='body-text'>
    <p>Hello <%= @audition.assignee.full_name.titleize %>,</p>
    <p><%= @current_user.full_name.titleize %> has assigned you audition#<%= @audition.id %> to you for final review.</p>
    <div>Remarks:</div> <%= @remarks.presence || 'None.' %>
  </div>
  <div class='footer-text'>
    <p>AudioSocket</p>
    <p>3518 Fermont Ave North, #400</p>
    <p>Seattle, WA 98103</p>
    <p>United States</p>
  </div>
</div>
