<div class='email-block'>
  <div class='logo'>
    <%= image_tag 'logo-black.png' %>
  </div>
  <h1 class='header-text'>
    <%= "Artist Application Accepted" if @audition.approved? %>
    <%= "Artist Application Not Accepted" if @audition.rejected? %>
  </h1>
  <div class='body-text'>
    <%== @content %>
    <% if @audition.approved? %>
      <div>
        Click <%= link_to "here", @path %> to signup
      </div>
    <% end %>
  </div>
  <div class='footer-text'>
    <p>Audiosocket</p>
    <p>Seattle, WA 98103</p>
    <p>United States</p>
  </div>
</div>
